parameters:
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Instantiated class Imagick not found.#'
        - '#Instantiated class Gmagick not found.#'
        - '#Caught class ImagickException not found.#'
        - '# on an unknown class Imagick.#'
        - '# on an unknown class Gmagick.#'
        -
            message: '#Strict comparison using === between int and false will always evaluate to false.#'
            path: %currentWorkingDirectory%/src/Convert/Converters/Gd.php
        -
            message: '#Strict comparison using === between resource and false will always evaluate to false.#'
            path: %currentWorkingDirectory%/src/Convert/Converters/Ewww.php
        -
            message: '#Strict comparison using === between resource and false will always evaluate to false.#'
            path: %currentWorkingDirectory%/src/Convert/Converters/ConverterTraits/CurlTrait.php
        -
            message: '#Strict comparison using === between resource and false will always evaluate to false.#'
            path: %currentWorkingDirectory%/src/Convert/BaseConverters/AbstractCloudCurlConverter.php
        - '#Function vips_call invoked with 4 parameters, 2 required.#'
        - '#Function vips_.* not found.#'
        -
            message: '#SystemRequirementsNotMet#'
            path: %currentWorkingDirectory%/src/Convert/Converters/ConverterTraits/ExecTrait.php
        -
            message: '#Call to function is_callable\(\) with array.* always evaluate to false#'
            path: %currentWorkingDirectory%/src/Convert/ConverterFactory.php
